<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const chatForm = document.querySelector('form'); 

        chatForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(chatForm);
            const data = Object.fromEntries(formData.entries());

            try {
                const response = await fetch('/api/v1/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    window.location.href = "/";
                } else {
                    const errorData = await response.json();
                    console.error("Validation failed:", errorData);
                    alert("Please check your input and try again.");
                }
            } catch (error) {
                console.error("Network error:", error);
            }
        });
    });
</script>
<body>
    <header>
        <h1>form page</h1>
    </header>
    <main>
        <h2>call AI chat</h2>
        <div th:each="msg : ${chatMessages}">
            <h3 th:text="${msg.role}"></h3>
            <p th:text="${msg.content}"></p>
        </div>

        <form th:action="@{/api/v1/chat}" th:object="${formRequest}" method="POST">
            <label>
                Personality
                <select th:field="*{personality}"  name="personality">
                    <option value="chatbot">chatbot</option>
                    <option value="pirate">pirate</option>
                    <option value="salesman">salesman</option>
                </select>
            </label><br>
            <label>
                Message
                <input th:field="*{content}" type="text">
                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
            </label><br>
            <input type="submit" value="submit">
        </form>
    </main>
</body>
</html>